.app-container {
  display: grid;
  grid-template-columns: 250px 1fr 350px; /* sidebar, center, right */
  height: 100vh;
  width: 100vw;
  background: #fff;
}


.sidebar {
  background: #f8f9fa;
  padding: 1rem;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.balance {
  font-size: 1.2rem;
  font-weight: bold;
  color: #212529; 
}


.center {
  padding: 1rem;
  overflow-y: auto;
}


.right {
  padding: 1rem;
  background: #ffffff;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
